<html>

<head>
<link rel="stylesheet" href="stye.css">
</head>

<body>
    
<section>
   <div>
   
    <h1 class="pk1">Pokemon</h1>
     </div>
    <form id="pokemon-form">
        <input type="text" id="searchInput" placeholder="Type your search...">

      <button class="searchButton">Search</button>

    </form>
    

    <div class="center">
      <div class="ring">
        <span></span>
      </div>
    </div>





    <div class="loading" style="display: none;">
    <p class="load">Loading up your pokemons dude...</p>
  <!-- You can use any loading animation or message here -->
   </div>
    <section class="pokemon-div">
        {{!-- pokemon cards live here --}}
    </section>


    <script src="/js/pokemon.js"></script>

  
</body>
</html>

