<section>
   <div>
    <h1>Pokemon</h1>
     </div>
    <form id="pokemon-form">
        <input type="text" id="searchInput" placeholder="Type your search...">
    <button id="searchButton">Search</button>
    </form>
    <div class="loading" style="display: none;">
    <p>Loading up your pokemon dudes...</p>
  <!-- You can use any loading animation or message here -->
   </div>
    <section class="pokemon-div">
        {{!-- pokemon cards live here --}}
    </section>


    <script src="/js/pokemon.js"></script>

  
        
